services:
  kafka:
    image: bitnamilegacy/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_NODE_ID=1
    volumes:
      - kafka_data:/bitnami/kafka
    healthcheck:
      test: [ "CMD", "kafka-topics.sh", "--bootstrap-server", "host.docker.internal:9092", "--list" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  producer:
    build: ./backend/producer
    volumes:
      - ./backend/data:/app/data
    depends_on:
      kafka:
        condition: service_healthy

  consumer:
    build: ./backend/consumer
    volumes:
      - shared_data:/data
    depends_on:
      kafka:
        condition: service_healthy

  dashboard:
    build: ./dashboard
    ports:
      - "8501:8501"
    depends_on:
      kafka:
        condition: service_healthy

volumes:
  kafka_data:
  shared_data:
